@import './variables/Variables.scss';


.movieCardContainer{
    display: flex;
    justify-content: center;
}

.movieCardRow{
    max-width: 1800px;
    width:100%;
    background-color: $mainGreyColor;
}
.movieCard{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.movieCardPoster{
    margin: 7px;
    border-radius: 5px;
    .movieImage{
        position: relative;
    }
    img{
        height: auto;
        width: 100%;
        min-width: 300px;
        box-shadow: 5px 5px 5px rgba($blackColor, .5);
    }
}

.movieInfo{
    max-width: 90%;
    width:1200px;
    text-align: left;
    margin: 10px;
    h2{
        font-size: 35px;
        margin-top: 0;
        font-weight: 900;
        margin-bottom: 10px;
    }
    h4{
        margin-bottom: 5px;
    }
    p{
        font-size: 18px;
        margin-top: 0;
    }
    h5{
        font-size: 20px;
        color: $secondaryGreyColor;
        margin-top: 10px;
        margin-bottom: 5px;
    }
}

.infoRating{
    margin-left: 10px;
    color: $mainGoldColor;
}


.crew{
    display: flex;
    flex-wrap: wrap;
}

.genre{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    p{
        margin: 5px;
        border: solid 1px white;
        padding: 8px;
        font-size: 15px;
        border-radius: 20px;
    }
}

 .crewMember{
     margin-right: 10px;
 }

.crewAndBudgetInfo{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    div{
    div{
        h4{
            margin-top: 10px;
            margin-bottom: 0;
        }
        p{
            margin-top: 0;
            margin-bottom: 0;
        }
    }
}
}

.crewInfo{
    width: 300px;
}


.starringCastInfoContainer{
    h4{
        margin-top: 10px;
        margin-bottom: 5px;
    }
  
}

.starringCastInfo{
    display: flex;
    text-align: center;
    overflow-x: scroll;
    h6{
        margin:0;
        font-size: 17px;
    }
    p{
        color: $mainGoldColor;
        font-size: 14px;
    }
    img{
      width: 150px;
      height: 150px;
      object-fit: cover;
      object-position: 50% 25%;
      display: block;
      border-radius: 50%;
      margin-right: 10px;
    }
    
}



  .similarMovies{
      margin-bottom: 25px;
      h4{

          text-align: left;
          margin-left: 15px;
         
      }
  }
  .similarMoviesRow{
      display: flex;
      overflow-x: scroll;
      img{
        width: 200px;
        height:auto; 
        margin:15px;
        box-shadow: 5px 5px 5px rgba($blackColor, .5);
        cursor: pointer;
      }
  }