.movieCardContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.movieCardRow {
  max-width: 1800px;
  width: 100%;
  background-color: #454545;
}

.movieCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.movieCardPoster {
  margin: 7px;
  border-radius: 5px;
}

.movieCardPoster .movieImage {
  position: relative;
}

.movieCardPoster img {
  height: auto;
  width: 100%;
  min-width: 300px;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.movieInfo {
  max-width: 90%;
  width: 1200px;
  text-align: left;
  margin: 10px;
}

.movieInfo h2 {
  font-size: 35px;
  margin-top: 0;
  font-weight: 900;
  margin-bottom: 10px;
}

.movieInfo h4 {
  margin-bottom: 5px;
}

.movieInfo p {
  font-size: 18px;
  margin-top: 0;
}

.movieInfo h5 {
  font-size: 20px;
  color: #7a7a7a;
  margin-top: 10px;
  margin-bottom: 5px;
}

.infoRating {
  margin-left: 10px;
  color: #ceae22;
}

.crew {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.genre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.genre p {
  margin: 5px;
  border: solid 1px white;
  padding: 8px;
  font-size: 15px;
  border-radius: 20px;
}

.crewMember {
  margin-right: 10px;
}

.crewAndBudgetInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.crewAndBudgetInfo div div h4 {
  margin-top: 10px;
  margin-bottom: 0;
}

.crewAndBudgetInfo div div p {
  margin-top: 0;
  margin-bottom: 0;
}

.crewInfo {
  width: 300px;
}

.starringCastInfoContainer h4 {
  margin-top: 10px;
  margin-bottom: 5px;
}

.starringCastInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  overflow-x: scroll;
}

.starringCastInfo h6 {
  margin: 0;
  font-size: 17px;
}

.starringCastInfo p {
  color: #ceae22;
  font-size: 14px;
}

.starringCastInfo img {
  width: 150px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 25%;
     object-position: 50% 25%;
  display: block;
  border-radius: 50%;
  margin-right: 10px;
}

.similarMovies {
  margin-bottom: 25px;
}

.similarMovies h4 {
  text-align: left;
  margin-left: 15px;
}

.similarMoviesRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
}

.similarMoviesRow img {
  width: 200px;
  height: auto;
  margin: 15px;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
/*# sourceMappingURL=MovieInfo.css.map */