@import './variables/Variables.scss';

.crewAndReviewContainer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 0;
}


.reviewContainer{
    h4{
       margin-bottom: 5px;
    }
    button{
      color:$whiteColor;
      background-color: $secondaryGreyColor;
      font-size: 15px;
      font-weight: 600;
      margin-left: 10px;
      padding: 15px;
      border: none;
      border-radius: 10px;
      box-shadow: 5px 5px 5px rgba($blackColor, .5);
      cursor: pointer;
  }
  button:hover{
      opacity: .85;
  }
    h5{
        margin-bottom: 5px;
    }
}

.reviews{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    h5{
        text-align: left;
        color: $mainBlueColor;
        font-size: 20px;
    
    }
    img{
        height: 30px;
        width: auto;
    }
}

.review{
   width: 25vw;
   min-width:300px;
   max-width:500px;
  padding: 10px;
  border: 2px solid $secondaryGreyColor;
  box-shadow: 5px 5px 5px rgba($blackColor, .5);
  border-radius: 5px;
  div{
      display: flex;
      justify-content: space-between;
  }
  h5{
      color: $mainGoldColor;
      font-size: 17px;
      margin: 0;
  }
}
