.poster {
    height: min-content;
    width: min-content;
    position: relative;
  }

  .img{
    border-radius: 5%;
    width: auto;
  }
  

  .rating {
    background-color: rgba(0, 0, 0, 0.404);
    position: absolute;
    border-radius: 5%;
    padding: 0px 10px;
    font-size: 1.8rem;
    font-weight: 600;
  }