$mainGreyColor:(rgb(69, 69, 69));
$mainBlueColor: (rgb(57, 157, 204));
$mainGoldColor: (rgb(206, 174, 34));

$secondaryBlueColor: (rgb(93, 199, 218));
$secondaryGreyColor: (rgb(122, 122, 122));

$bodyColor: #282c34;

$whiteColor: white;
$blackColor: black;

$greatMovieColor:(rgb(0, 153, 0));
$goodMovieColor:(rgb(111, 180, 0));
$averageMovieColor:(rgb(233, 229, 4));
$badMovieColor:(rgb(204, 24, 0));